.content
        

    &__main
        display: container
        display: flex
        justify-content: space-between
        align-items: flex-start 
        
        overflow: hidden


@media (min-width: (viewport + gutter))
    .content__main 
        padding: 0