.contact
    position: relative
    width: 100%
    overflow: hidden

    &__content 
        display: container 
        padding: 30px 
        border-radius: 4px

    &__legend 
        font-size: 16px
        font-weight: regular
        color: #fff 
        display: flex 
        justify-content: flex-start 
        align-items: center

        svg 
            font-size: 45px
            margin-right: 10px

    &__title 
        font-size: 24px
        font-weight: bold 
        text-transform: uppercase
        color: color-two
        padding-bottom: 20px

    input 
        border: 0
        height: 50px

    .wpcf7 label.on span:first-child
        color: #000

    [type=submit]
        background: #fff
        height: 50px
        
@media (min-width: 500px)
    .contact 
        .inline 
            display: flex 
            margin: s('0 %s', -(gutter / 2))
            > div 
                flex: 1 1 auto
                padding: 0 (gutter / 2)
    
@media desktop
    .contact 
        text-align: left
        margin-bottom: -45px

        .wpcf7 label
            padding-top: 0
            span 
                display: flex
                height: 100%

                &:first-child
                    top: 0
            &.on span:first-child
                top: -20px

        .wpcf7 .wpcf7-submit
            margin-top: 0

        .wpcf7-form
            .inline 
                > div:nth-child(2)
                    padding-right: 0
                    input 
                        border-radius: 4px 0 0 4px 
                > div:nth-child(3)
                    padding-left: 0
                    input 
                        border-radius: 0 4px 4px 0

        &__title
            font-size: 24px

        &__legend 
            min-width: 485px

        &__inner
            display: flex 
            align-items: center

        &__content 
            display: flex
            justify-content: space-between
            align-items: center
        