.widget 
    padding: 10px 0

    font-size: 14px
    font-weight: regular 

    + .widget 
        border-top: solid 1px color-three

    &:nth-child(2), &:nth-child(6), &:nth-child(7)
        border-top: 0

    a 
        font-size: 14px
        font-weight: regular 
        line-height: 1.4

    .search-form__button 
        margin-left: -20px
        
    .cat-item 
        display: block 
        padding: 10px 0

    .title--h2
        display: block 
        padding: 5px 0
        font-size: 18px
        font-weight: bold 

    &__title 
        display: block 
        margin-bottom: 10px
        font-size: 18px
        font-weight: bold 


        &--small 
            font-size: 16px
            font-weight: semi-bold

    .tagcloud
        margin: -2px
        a 
            display: inline-block
            background: #f3f3f3
            padding: 2px
            font-size: 14px
            font-weight: semi-bold
            margin: 2px